.vscode/**
.vscode-test/**
.github/**
.husky/**

*.vsix
test/**
.gitignore
.yarnrc
commitlint.config.js
scripts/**

out/**
dist/**
coverage/**
*.log
.env
.DS_Store

**/tsconfig.json
**/.eslintrc
**/.eslintrc.json
**/.prettierrc
**/.prettierignore
**/*.map
**/*.ts
**/*.d.ts
**/*.spec.*
**/*.test.*
**/__tests__/**
**/__fixtures__/**
**/__snapshots__/**

node_modules/**/README*
node_modules/**/readme*
node_modules/**/CHANGELOG*
node_modules/**/SECURITY*
node_modules/**/src/**
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/coverage/**
